.header {
    display: flex;

}
.header-left{
    display: flex;
}
.header-left >img {
    object-fit: contain;
    height: 40px;
    margin-right: 10px;
}

.header-search{
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    height: 22px;
    color: gray;
    background-color: #eef3f8;
   
}
.header-search > input {
    outline: none;
}
.header-right{
    display: flex;
}